* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-style: initial;
font-size: 3em;
}

div#container {
  /*background-color: #00FFFF;*/
  position: absolute;
  top: 100px;
}
/*p {
  width: 400px;
  height: 150px;
  border: 1px solid black;

  padding: 10px;
}*/

#box2 {
  background-color: gray;
  padding-left : 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  width: 400px;
  height: 150px;
 /* margin-top: 150px;
  margin-left: 50px;*/
  overflow: auto;
  padding-top: 0px;
  margin-top: 50px;
  margin-left: 20px;
  position: absolute;
  top: 50px;
  left: 450px; 
}
#box3 {
background-color: gray;
  padding-left : 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  width: 400px;
  height: 150px;
  
  margin-left: 50px;
  overflow: auto;
  padding-top: 0px;
  margin-top: 50px;
  margin-left: 20px;
  position: absolute;
  top: 50px;
  left: 880px;
}


#box 
{
  background-color: #CD5C5C ;
  padding: 5px;
  border: 1px solid black;
  width: 86px;
  height: 30px;
  position: top-right;
  margin-left: 300px;
}
#box4 
{
  background-color: #FF4500;
  padding: 5px;
  border: 1px solid black;
  width: 86px;
  height: 30px;
  position: top-right;
  margin-left: 300px;
}
#box1{
  background-color: gray;
  padding-left : 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  width: 400px;
  height: 150px;
  margin-top: 150px;
  margin-left: 50px;
  overflow: auto;
  padding-top: 0px;
  margin-top: 100px;
  margin-left: 40px;

}
#content {
     padding-top: 5px;
   font-style:initial;
   font-family: Arial, Helvetica, sans-serif;
}
#content1 {
          
   font-style:initial;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}
#content2 {
    text-decoration-color: white;      
   font-style:initial;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}


 

 

 
@media (min-width: 992px) { 
 
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { 
 
    float: left; 
 
    
 
    } 
 
    .col-lg-1 { 
 
    width: 8.33%; 
 
    } 
 
    .col-lg-2 { 
 
    width: 16.66%; 
 
    } 
 
    .col-lg-3 { 
 
    width: 25%; 
 
    } 
 
    .col-lg-4 { 
 
    width: 33.33%; 
 
    } 
 
    .col-lg-5 { 
 
    width: 41.66%; 
 
    } 
 
    .col-lg-6 { 
 
    width: 50%; 
 
    } 
 
    .col-lg-7 { 
 
    width: 58.33%; 
 
    } 
 
    .col-lg-8 { 
 
    width: 66.66%; 
 
    } 
 
    .col-lg-9 { 
 
    width: 74.99%; 
 
    } 
 
    .col-lg-10 { 
 
    width: 83.33%; 
 
    } 
 
    .col-lg-11 { 
 
    width: 91.66%; 
 
    } 
 
    .col-lg-12 { 
 
    width: 100%; 
 
    } 
 
    
 
} 
 

 

 
@media (min-width: 768px) and (max-width: 991px) { 
 
  #box3{
    top:400px;
    left : 20px;
    width:190%;
    border: 2px solid black;
      }
      #box4{
      margin-left: 735px;
        }

}

  @media  (max-width: 767px){
   
     #box2
   { position: absolute;
     top: 250px;
     left: 20px;
   }
   #box3
   {
     position: absolute;
     top: 450px;
     left: 20px;
   }

  }